.Auth{
    position: relative;
    width: 100%;
    height: 35%;
}

.Auth .text {
    position: absolute;
    top: 0%;
    width: 100%;
  }

.Auth .btn {
    position: absolute;
    left: 4.5vw;
    top: 6vw;
}

*{
    font-family: 'Poppins', sans-serif;
}
